pkgbase = go-iothl-git
	pkgdesc = IoT identity on HL
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/M0Rf30/go-iothl
	arch = armv6h
	arch = armv7h
	arch = arm
	arch = aarch64
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	options = !strip
	source = git+https://github.com/M0Rf30/go-iothl.git
	md5sums = SKIP

pkgname = go-iothl-git

