pkgbase = go-iothl-git
	pkgdesc = IoT identity on HL
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/M0Rf30/go-iothl
	arch = armv6h
	arch = armv7h
	arch = arm
	arch = aarch64
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	options = !strip
	source = git+https://github.com/M0Rf30/go-iothl.git
	source = iotdevicesd.sh
	source = iotdevicesd.service
	md5sums = SKIP
	md5sums = e7d52e496e0dd5ebf5506add6203879e
	md5sums = 5d6ae5b76f9cb070592706b50e9bbeb7

pkgname = go-iothl-git

